@font-face {
    font-family: 'comuna';
    src:    url('../fonts/comuna.eot?mmmyn3');
    src:    url('../fonts/comuna.eot?mmmyn3#iefix') format('embedded-opentype'),
        url('../fonts/comuna.ttf?mmmyn3') format('truetype'),
        url('../fonts/comuna.woff?mmmyn3') format('woff'),
        url('../fonts/comuna.svg?mmmyn3#comuna') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'comuna' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-botonproductividad .path1:before {
    content: "\e900";
    color: rgb(255, 102, 51);
}
.icon-botonproductividad .path2:before {
    content: "\e901";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-botoncostos .path1:before {
    content: "\e902";
    color: rgb(255, 102, 51);
}
.icon-botoncostos .path2:before {
    content: "\e903";
    margin-left: -1em;
    color: rgba(255, 255, 255, 0.7);
}
.icon-botoncalidad .path1:before {
    content: "\e904";
    color: rgb(255, 102, 51);
}
.icon-botoncalidad .path2:before {
    content: "\e905";
    margin-left: -1em;
    color: rgba(255, 255, 255, 0.7);
}
.icon-botoncalidad .path3:before {
    content: "\e906";
    margin-left: -1em;
    color: rgba(255, 255, 255, 0.7);
}
.icon-botoncomunidad .path1:before {
    content: "\e907";
    color: rgb(255, 102, 51);
}
.icon-botoncomunidad .path2:before {
    content: "\e908";
    margin-left: -1em;
    color: rgba(255, 255, 255, 0.7);
}
.icon-botonnetworking .path1:before {
    content: "\e909";
    color: rgb(255, 102, 51);
}
.icon-botonnetworking .path2:before {
    content: "\e90a";
    margin-left: -1em;
    color: rgba(255, 255, 255, 0.7);
}
.icon-botonnetworking .path3:before {
    content: "\e90b";
    margin-left: -1em;
    color: rgba(255, 255, 255, 0.7);
}
.icon-botonnetworking .path4:before {
    content: "\e90c";
    margin-left: -1em;
    color: rgba(255, 255, 255, 0.7);
}
.icon-botonnetworking .path5:before {
    content: "\e90d";
    margin-left: -1em;
    color: rgba(255, 255, 255, 0.7);
}
.icon-botonnetworking .path6:before {
    content: "\e90e";
    margin-left: -1em;
    color: rgba(255, 255, 255, 0.7);
}
.icon-botonnetworking .path7:before {
    content: "\e90f";
    margin-left: -1em;
    color: rgba(255, 255, 255, 0.7);
}
.icon-botoncafe .path1:before {
    content: "\e910";
    color: rgb(31, 143, 154);
}
.icon-botoncafe .path2:before {
    content: "\e911";
    margin-left: -1em;
    color: rgba(255, 255, 255, 0.7);
}
.icon-botoncafe .path3:before {
    content: "\e912";
    margin-left: -1em;
    color: rgba(255, 255, 255, 0.7);
}
.icon-botoncafe .path4:before {
    content: "\e913";
    margin-left: -1em;
    color: rgba(255, 255, 255, 0.7);
}
.icon-botoncafe .path5:before {
    content: "\e914";
    margin-left: -1em;
    color: rgba(255, 255, 255, 0.7);
}
.icon-botoncomunes .path1:before {
    content: "\e915";
    color: rgb(31, 143, 154);
}
.icon-botoncomunes .path2:before {
    content: "\e916";
    margin-left: -1em;
    color: rgba(255, 255, 255, 0.7);
}
.icon-botoncomunes .path3:before {
    content: "\e917";
    margin-left: -1em;
    color: rgba(255, 255, 255, 0.7);
}
.icon-botoncomunes .path4:before {
    content: "\e918";
    margin-left: -1em;
    color: rgba(255, 255, 255, 0.7);
}
.icon-botoninternet .path1:before {
    content: "\e919";
    color: rgb(31, 143, 154);
}
.icon-botoninternet .path2:before {
    content: "\e91a";
    margin-left: -1em;
    color: rgba(255, 255, 255, 0.7);
}
.icon-botoninternet .path3:before {
    content: "\e91b";
    margin-left: -1em;
    color: rgba(255, 255, 255, 0.7);
}
.icon-botoninternet .path4:before {
    content: "\e91c";
    margin-left: -1em;
    color: rgba(255, 255, 255, 0.7);
}
.icon-botonprivado .path1:before {
    content: "\e91d";
    color: rgb(31, 143, 154);
}
.icon-botonprivado .path2:before {
    content: "\e91e";
    margin-left: -1em;
    color: rgba(255, 255, 255, 0.7);
}
.icon-botonprivado .path3:before {
    content: "\e91f";
    margin-left: -1em;
    color: rgba(255, 255, 255, 0.7);
}
.icon-botontalleres .path1:before {
    content: "\e920";
    color: rgb(31, 143, 154);
}
.icon-botontalleres .path2:before {
    content: "\e921";
    margin-left: -1em;
    color: rgba(255, 255, 255, 0.7);
}
.icon-FacebookCopy2 .path1:before {
    content: "\e922";
    color: rgb(44, 56, 56);
}
.icon-FacebookCopy2 .path2:before {
    content: "\e923";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-FacebookCopy2 .path3:before {
    content: "\e924";
    margin-left: -1em;
    color: rgba(0, 0, 0, 0.08);
}
.icon-TwitterCopy2 .path1:before {
    content: "\e925";
    color: rgb(48, 61, 61);
}
.icon-TwitterCopy2 .path2:before {
    content: "\e926";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-TwitterCopy2 .path3:before {
    content: "\e927";
    margin-left: -1em;
    color: rgba(0, 0, 0, 0.08);
}
