/* Basic styles */
body {
  background-image: url(../img/coworking-space.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: #303D3D;
}

button {
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9em;
  font-weight: bold;
}

button:hover {
  opacity: 0.8;
}

a {
    color: #303D3D;
    text-decoration: none;
}

.titulo {
  font-size: 1.2em;
}

.redes-sociales {
  font-size: 1.2em;
  display: block;
}

.texto-centrado {
  text-align: center;
}

.subtitulo {
  font-size: 1.4em;
}

/****** Font weights ************/
.regular {
  font-weight: 400;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.grande {
  font-size: 1.25em;
}

.chico {
  font-size: 1em;
}

.btn-naranja {
  background-color: #FF6633;
}

.btn-gris {
  background-color: #303D3D;
}

.gris {
  background-color: rgba(48, 61, 61, 0.25);
}
